*{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: white;
}
* , *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #inicio .rectangulos{
    display: flex;
    flex-wrap: nowrap;
    column-gap: 10px;
    align-items: center;
  }
  
  
  #inicio .rectangulos .rectangle{
    background-color: #06283D;
    width: 40rem;
    height: 15rem;
    box-shadow: 0.4rem 0.7rem #47B5FF;
  
  }
  
  #inicio .rectangulos .rectanglesmall{
    background-color: #06283D;
    width: 8rem;
    height: 10rem;
    box-shadow: 0.4rem 0.7rem #47B5FF;
  
  }
  
  #inicio .rectangulos #flechain{
    margin-top: 1rem;
  }
}

img, video {
  width: 100%;
  height: auto;
}
  
@media (min-width: 640px) { body {font-size:1rem;} }
@media (min-width:960px) { body {font-size:1.2rem;} }
@media (min-width:1100px) { body {font-size:1.5rem;} }

body{
  background-color: #000000;
}


nav {
  position: fixed;
	z-index: 10;
	left: 0;
	right: 0;
	top: 0;
  height: 100px;
	padding: 0 5%;
  background-color: rgba(37, 109, 133,0.2);

  
}

nav .logo{
  float: left;
  top: 10%;
  width: auto;
  height: 80%;
  display: flex;
  align-items: center;
  margin-top: 0.5%;
}

nav .nav-items{
  float: right;
  display:flex;
	padding: 0;
	margin: 0;
  width: 60%;
  height: 100%;
	align-items: center;
  justify-content: space-around;
  
}
.nav-items a:hover {
  color: #DFF6FF;
  text-shadow: 2px 2px #256D85 ;
}
#nav-check{
  position: absolute;
  top:-100px;
}
.nav-items a{
  display: block;
	padding: 1em;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	text-decoration: none;

}
nav li {
	list-style: none;
}
nav .rayas {
	display: none;
	position: absolute;
	right: 5%;
	top: 50%;
	transform: translateY(-50%);
}
nav .rayas .line {
	width: 30px;
	height: 5px;
	background-color: #fff;
	margin: 5px;
	border-radius: 3px;
	transition: all .3s ease-in-out;
}
@media screen and (max-width: 768px){
  
  nav .nav-items{
    float: none;
		position: fixed;
		z-index: 9;
		left: 0;
		right: 0;
		top: 100px;
		bottom: 100%;
		width: auto;
		height: auto;
		flex-direction: column;
		justify-content: space-evenly;
		background-color: rgba(0,0,0,.8);
		overflow: hidden;
		box-sizing: border-box;
		transition: all .5s ease-in-out;
  }
  nav .nav-items{
    z-index: 10;
  }

  nav .logo{
    float: none;
    margin-top: 3%;
    flex-basis: auto;
    flex: 1;
    justify-content: center;
  }

  nav .rayas{
    display: block;
  }
  nav :checked ~ .nav-items{
    bottom:0;
  }
  
  .nav-items a:hover {
    color: #DFF6FF;
    text-shadow: 2px 2px #256D85 ;
  }

  nav :checked ~ .rayas .line:nth-child(1) {
		transform: translateY(10px) rotate(225deg);
	}
  nav :checked ~ .rayas .line:nth-child(2) {
    opacity: 0;
  }
  
  nav :checked ~ .rayas .line:nth-child(3) {
		transform: translateY(-10px) rotate(-225deg);
  }


}

/*Comienza seccion de inicio responsive*/
#inicio{
  display: flex;
  flex-wrap: wrap;
  margin-top: 6.5rem;
}

#inicio .rowzero{
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  font-size: 1.5vw;
}

#inicio .rowone{
  display: flex;
  width: 100%;
  column-gap: 10vw;

}

#inicio .rowone .logo{
  flex: 1;
  flex-basis: auto;
  margin-left: 1vw;
}

#inicio .rowone .rectangulo{
  flex: 1;
  flex-basis: auto;
}

#inicio .rowtwo{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

#inicio .rowtwo .imagen{
  flex: 1;
  
}

/*Guias*/
/*
#inicio div{
    background: #eee;
    border: 5px solid #ccc;
    padding: 10px;
}

#inicio p{
  color: #000000;
}
*/
#inicio .txtcircle{
  border-radius: 50%;
  padding: 10px;
  background: rgb(223, 246, 255,0.3);
}

#inicio .rectangulo{
  display: flex;
  flex-wrap: nowrap;
  width: 80%;
  justify-content:end;
  align-items: center;
  margin-right: 1vw;
  column-gap: 1vw;
}

#inicio .rectangulo .rectangle{
  display: flex;
  justify-content: center;
  align-content: center;
  width: 40vw;
  height: 25vh;
  background-color: #06283D;
  box-shadow: 0.4rem 0.7rem #47B5FF;
}

#inicio .rectangulo .rectangle p{
  width: 90%;
  text-align: center;
  font-size: 1.8vw;
}

#inicio .rectangulo .rectanglesmall{
  width: 7vw;
  height: 20vh;
  background-color: #06283D;
  box-shadow: 0.4rem 0.7rem #47B5FF;
}

#inicio .rectangulo .rectanglesmall #flechain{
  margin-top: 1vw;
  width: 7.5vw;
  height: auto;
}

#inicio .rowtwo .waves{
  height: 14vw;
  width: 100%;

}

/*Seccion de Sobre mi CSS */
/*Guias
#sobremi div{
    background: #eee;
    border: 5px solid #ccc;
    padding: 10px;
}

#sobremi p{
  color: #000000;
}
*/
#sobremi{
  padding-top: 55px;
  display: flex;
  flex-wrap: wrap;
}

#sobremi .rowzero{
  display: flex;
  width: 100%;
}

#sobremi .rowzero .logo{
  flex: 1;
  flex-basis: auto;
  position: relative;
  display: flex;
  justify-content: end;
}

#sobremi .rowzero .logo .contenedor{
  border-radius: 50%;
  padding: 10px;
  width: 8vw;
  height: 8vw;
  background: rgb(223, 246, 255,0.3);
  position: relative;
}

#sobremi .rowzero .logo .contenedor img{
  width: 5vw;
  height: 5vw;
  position: absolute;
  left: 1.5vw;
  top: 1.2vw;
}

#sobremi .rowzero .titulob{
  flex: 1;
  flex-basis: auto;
  position: relative;
}

#sobremi .bubble1{
  display: flex;
  justify-content: end;
  width: 100%;
}
#sobremi .bubble2{
  display: flex;
  justify-content:left;
  width: 100%;
}
#sobremi .bubble3{
  width: 100%;
  display: flex;
  justify-content: end;
}

#sobremi .rowzero .titulob #burbujatitle{
  z-index: 1;
  width: 30vw;
  opacity: 30%;
}

#sobremi .rowzero .titulob .titulo{
  z-index: 3;
  font-size: 3vw;
  position: absolute;
  top: -5%;
  left: 15%;
}

#sobremi .bubble1 #burbuja1{
  z-index: 1;
  width: 35vw;
  position: relative;
}


#sobremi .bubble1 .rectangle{
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 31vw;
  height: 14vh;
  background-color: transparent;
  right: 3vw;
}


#sobremi .bubble1 .rectangle p{
  font-size: 1.4vw;
  z-index: 3;
}


#sobremi .bubble2 #burbuja2{
  z-index: 1;
  width: 35vw;
  opacity: 30%;
  position: relative;
}

#sobremi .bubble2 .rectangle{
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 31vw;
  height: 14vh;
  background-color: transparent;
  left: 4vw;
}


#sobremi .bubble2 .rectangle p{
  font-size: 1.4vw;
  z-index: 3;
}



#sobremi .bubble3 #burbuja3{
  z-index: 1;
  width: 35vw;
}

#sobremi .bubble3 .rectangle{
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 31vw;
  height: 14vh;
  background-color: transparent;
  right: 3vw;
}


#sobremi .bubble3 .rectangle p{
  font-size: 1.4vw;
  z-index: 3;
}

#sobremi .bubble3 .rectangle #flechain{
  width: 2vw;
  position: absolute;
  right: 3vw;
  z-index: 4;
  top: 6vw;
}
/*Seccion de Proyectos CSS*/

/*Guias*/
#proyectos div{
    background: #eee;
    border: 5px solid #ccc;
    padding: 10px;
}

#proyectos p{
  color: #000000;
}


#proyectos{
  padding-top: 55px;
  display: flex;
  flex-wrap: wrap;
}

/*Definir grid*/

#proyectos .rowzero{
  display: flex;
  width: 100%;
}

#proyectos .rowone{
  display: flex;
  width: 100%;
}


#proyectos .rowtwo{
  display: flex;
  width: 100%;
}

#proyectos .rowzero .logo{
  flex: 1;
  flex-basis: auto;
  position: relative;
  display: flex;
  justify-content: end;
}

#proyectos .rowzero .logo .contenedor{
  border-radius: 50%;
  padding: 10px;
  width: 8vw;
  height: 8vw;
  background: rgb(223, 246, 255,0.3);
  position: relative;
}

#proyectos .rowzero .logo .contenedor img{
  width: 5vw;
  height: 5vw;
  position: absolute;
  left: 1.5vw;
  top: 1.2vw;
}

#proyectos .rowzero .titulob{
  flex: 1;
  flex-basis: auto;
  position: relative;
}

#proyectos .rowzero .titulob #burbujatitle{
  z-index: 1;
  width: 30vw;
  opacity: 30%;
}

#proyectos .rowzero .titulob .titulo{
  z-index: 3;
  font-size: 3vw;
  position: absolute;
  top: -5%;
  left: 8%;
}

#proyectos .rowone .proy1{
  display: flex;
  flex: 1;
}

#proyectos .rowone .proy1 .proy1desc{
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 0.2vw;
}

#proyectos .rowone .proy1 .proy1desc .proy1title{
  background-color:#256D85;
  border-radius: 15%;
  height: 4vw;
}


#proyectos .rowone .proy1 .proy1vid{
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
}

#proyectos .rowone .proy1 .proy1vid .proy1circle{
  border-radius: 50%;
  padding: 10px;
  width: 15vw;
  height: 15vw;
  background: rgb(223, 246, 255,0.3);
  position: relative;
}




#proyectos .rowone .proy2{
  display: flex;
  flex: 1;
}

#proyectos .rowone .proy2 .proy2desc{
  width: 100%;
  order: 0;
}


#proyectos .rowone .proy2 .proy2vid{
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
  order: 1;
}

#proyectos .rowone .proy2 .proy2vid .proy2circle{
  border-radius: 50%;
  padding: 10px;
  width: 15vw;
  height: 15vw;
  background: rgb(223, 246, 255,0.3);
  position: relative;
}



#proyectos .rowtwo .ghub{
  display: flex;
  justify-content: center;
  flex: 1;
}
