body .card img{
    opacity: 100%;
    height: 35vh;
    width: auto;
    align-self: center;
}

body #containerpokemon1{
    animation: bounce;
    --animate-delay: 2s;
    animation-duration: 2s; 
}

body #bodytablepoke tr{
    animation: fadeInRight;
    --animate-delay: 2s;
    animation-duration: 2s; 
}

body #img-gen1{
    animation:jackInTheBox;
    animation-duration: 2s;
}

body .card h5{
    font-size: 1.5vh;
}

body .card p{
    font-size: 2vh;
}
#poketable #bodytablepoke .type td {
    align-items: center;
}
body #poketable .type p{
    font-size: 1.4vh;
}
 .fire{
    color: orange;
}

.water{
    color: cyan;
}

.normal{
    color: grey;
}

 .grass{
    color: lightgreen;
}

 .flying{
    color: azure;
}

.fighting{
    color: maroon;
}

.poison{
    color: purple;
}

 .electric{
    color:yellow;
}

 .ground{
    color: brown;
}

 .rock{
    color:beige;
}

 .psychic{
    color:pink;
}

 .ice{
    color: lightskyblue;
}

 .bug{
    color: forestgreen;
}

.ghost{
    color: darkorchid;
}

.steel{
    color: gray;
}

.dragon{
    color:cornflowerblue;
}

.dark{
    color:black;
}

 .fairy{
    color:deeppink;
}

